{% extends "base.html" %}

{% block content %}

{% csrf_token %}

{% verbatim %}
<div id="app">
  <div
    class="grid dbg2"
    :style="{'max-width': 90 + (activities.length * 110) + 'px'}"
  >
    <div
      class="row goal mt-2 mb-1"
      style="max-height: 30px"
    >
      <div
        class="field has-addons mr-2"
      >
        <p class="control">
          <button
            class="button has-color-bg has-text-white"
            @click="goToPreviousWeek(today)"
          >
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
          </button>
        </p>
        <p class="control">
          <button
            class="button has-color-bg has-text-white"
            @click="goToNextWeek(today)"
          >
            <span class="icon">
              <i class="fas fa-arrow-right"></i>
            </span>
          </button>
        </p>
      </div>
      <div
        class="field has-addons"
      >
        <p class="control">
          <button
            class="button has-color-bg has-text-white"
            @click="goToActualToday(actualToday)"
          >
            <span>
              {{ strings.today }}
            </span>
          </button>
        </p>
      </div>
      <div
        class="has-color-bg has-text-white ml-auto mr-2"
        style="margin-bottom: 12px"
      >
        {{ isoYear }}, {{ strings.week }} {{ isoWeekNumber }}
      </div>
      <div
        v-if="goalReached"
        class="mb-1"
        style="min-width: 24px"
      >
        <span
          class="icon has-text-white ml-1"
        >
          <i class="fas fa-check fa-lg"></i>
        </span>
      </div>
    </div>
    <div
      v-for="(weekDay, y) in currentWeek"
      :key="weekDay.date + y"
      class="row week"
    >
      <div
        class="col day has-text-white has-text-weight-semibold"
        :class="{'has-text-app': weekDay.date == today}"
      >
        <div>
          {{ weekDay.day }}
        </div>
        <div class="is-size-7">
          {{ weekDay.date }}
        </div>
      </div>
      <div
        v-for="(activity, x) in activities"
        :key="activity + x + y"
        class="col cell activity clickable"
        :class="{'has-border-app': weekDay.date == today}"
        @click="toggleCell(weekDay.date, activity.id)"
      >
        <div class="image">
          <transition
            name="fade"
            mode="in-out"
          >
            <img
              v-if="getCell(weekDay.date, activity.id) && activity.image_url"
              :src="activity.image_url"
            >
          </transition>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}

<script>

Vue.config.devtools = true;

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

window.app = new Vue({
  el: '#app',
  data() {
    return {
      // Backend data
      activities: {{ activities|safe }},
      actualToday: '{{ actual_today|safe }}',
      currentWeek: {{ current_week|safe }},
      currentWeekEvents: {{ current_week_events|safe }},
      isoWeekNumber: '{{ iso_weeknumber }}',
      isoYear: '{{ iso_year }}',
      strings: {{ strings|safe }},
      today: '{{ today|safe }}',
      urls: {{ urls|safe }},
      // Frontend data
      goal: 5,
      cells: {}
    };
  },
  computed: {
    numEvents() {
      return Object.keys(this.cells).filter(key => !!this.cells[key]).length;
    },
    goalReached() {
      return this.numEvents >= this.goal;
    },
  },
  created() {
    this.populateGrid();
  },
  methods: {
    doesEventExist(date, activityId) {
      for (let i = 0; i < this.currentWeekEvents.length; i++) {
        const event = this.currentWeekEvents[i];
        if (event.date == date && event.activity == activityId) {
          return true;
        }
      }
      return false;
    },
    getCellKey(date, activityId) {
      return `${date}_${activityId}`;
    },
    getCell(date, activityId) {
      const key = this.getCellKey(date, activityId);
      return this.cells[key];
    },
    populateGrid() {
      this.cells = {};
      this.currentWeek.forEach(weekDay => {
        this.activities.forEach(activity => {
          const initialValue = this.doesEventExist(weekDay.date, activity.id);
          const cellKey = this.getCellKey(weekDay.date, activity.id);
          this.$set(this.cells, cellKey, initialValue);
        });
      });
    },
    toggleCell(date, activityId) {
      const hasEvent = this.getCell(date, activityId);
      if (hasEvent) {
        const event = this.currentWeekEvents.filter(event => event.date == date)[0];
        this.httpDeleteEvent(event.id);
      }
      else {
        this.httpCreateEvent(date, activityId);
      }

      // Update frontend.
      this.$set(this.cells, this.getCellKey(date, activityId), !hasEvent);
    },

    httpCreateEvent(date, activityId) {
      const payload = {
        'date': date,
        'activity': activityId
      };
      axios.post(this.urls.create_event, payload)
        .then(response => {
          // Update frontend.
          const event = response.data;
          this.currentWeekEvents.push(event);
        });
    },
    httpDeleteEvent(eventId) {
      return axios.delete(this.urls.delete_event + eventId)
        .then(() => {
          // Update frontend.
          this.currentWeekEvents = this.currentWeekEvents.filter(event => event.id !== eventId);
        });
    },
    redirectChangeWeek(today, direction) {
      const url = this.urls.change_week + direction + "?day=" + today;
      axios.get(url)
        .then(response => {
          const nextUrl = response.data.next_url;
          window.location.replace(nextUrl);
        });
    },
    goToPreviousWeek(today) {
      this.redirectChangeWeek(today, 'previous');
    },
    goToActualToday(actual_today) {
      const nextUrl = "/?day=" + actual_today;
      window.location.replace(nextUrl);
    },
    goToNextWeek(today) {
      this.redirectChangeWeek(today, 'next');
    },
  }
});

</script>
{% endblock %}
