{% extends "base.html" %}

{% block content %}
{% verbatim %}
<div id="app">
  <div
    class="grid"
    :style="{'max-width': 90 + (activities.length * 110) + 'px'}"
  >
    <div
      v-for="(weekDay, y) in currentWeek"
      :key="weekDay.date + y"
      class="row"
    >
      <div class="col day">
        {{ weekDay.day }}
      </div>
      <div
        v-for="(activity, x) in activities"
        :key="activity + x + y"
        class="col cell activity clickable"
        @click="toggleCell(x, y)"
      >
        <div class="image">
          <transition
            name="fade"
            mode="in-out"
          >
            <img
              v-if="cells[`${x}_${y}`] && activity.image_url"
              :src="activity.image_url"
            >
          </transition>
        </div>
      </div>
    </div>
    <div
      class="row"
      style="flex-grow: 0"
    >
      {{ numEvents }} / {{ goal }}
    </div>
  </div>
</div>
{% endverbatim %}

<script>

Vue.config.devtools = true;

window.app = new Vue({
  el: '#app',
  data() {
    return {
      // Backend data
      activities: {{ activities|safe }},
      currentWeek: {{ current_week|safe }},
      currentWeekEvents: {{ current_week_events|safe }},
      // Frontend data
      goal: 5,
      cells: {}
    };
  },
  computed: {
    numEvents() {
      return Object.keys(this.cells).filter(key => !!this.cells[key]).length;
    },
  },
  created() {
    this.populateGrid();
  },
  methods: {
    toggleCell(x, y) {
      this.$set(this.cells, `${x}_${y}`, !this.cells[`${x}_${y}`]);
    },
    doesEventExist(date, activityId) {
      for (let i = 0; i < this.currentWeekEvents.length; i++) {
        const event = this.currentWeekEvents[i];
        if (event.date == date && event.activity == activityId) {
          return true;
        }
      }
      return false;
    },
    populateGrid() {
      this.cells = {};
      for (let y = 0; y < this.currentWeek.length; y++) {
        for (let x = 0; x < this.activities.length; x++) {
          const initialValue = this.doesEventExist(
            this.currentWeek[y].date, this.activities[x].id,
          );
          this.$set(this.cells, `${x}_${y}`, initialValue);
        }
      }
    }
  }
});

</script>
{% endblock %}
