{% extends "base.html" %}

{% block content %}

{% csrf_token %}

{% verbatim %}
<div id="app">
  <div
    class="grid"
    :style="{'max-width': 90 + (activities.length * 110) + 'px'}"
  >
    <div
      class="row goal mt-2 mb-1"
      style="max-height: 30px"
    >
      <div
        class="field has-addons mr-2"
      >
        <p class="control">
          <button
            class="button has-color-bg has-text-white"
            @click="goToPreviousWeek(today)"
          >
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
          </button>
        </p>
        <p class="control">
          <button
            class="button has-color-bg has-text-white"
            :title="strings.today"
            @click="goToActualToday(actualToday)"
          >
            <span class="icon">
              <i class="fas fa-calendar-day"></i>
            </span>
          </button>
        </p>
        <p class="control">
          <button
            class="button has-color-bg has-text-white"
            @click="goToNextWeek(today)"
          >
            <span class="icon">
              <i class="fas fa-arrow-right"></i>
            </span>
          </button>
        </p>
      </div>
      <div
        ref="dropdown"
        class="dropdown"
        style="margin-bottom: 12px"
        :class="{'is-active': showDropdown}"
      >
        <div class="dropdown-trigger">
          <button
            class="button has-text-white has-color-bg"
            @click="showDropdown = !showDropdown"
          >
            <span class="icon">
              <i class="fas fa-cog"></i>
            </span>
          </button>
        </div>
        <div
          id="dropdown-menu"
          class="dropdown-menu"
          role="menu"
        >
          <div class="dropdown-content">
            <a
              class="dropdown-item"
              @click="goToAdminPage()"
            >
              Admin
            </a>
            <hr class="dropdown-divider">
            <a
              href="#" class="dropdown-item"
              @click="confirmLogout()"
            >
              <i class="fas fa-sign-out-alt"></i>
              Logout: {{ username }}
            </a>
          </div>
        </div>
      </div>
      <div
        class="has-text-white ml-auto mr-2"
        style="display: flex; align-items: center; margin-bottom: 16px"
      >
        <span
          :class="{'mr-3': !goalReached, 'mr-2': goalReached}"
        >
          {{ strings.week }} {{ isoWeekNumber }}
        </span>
        <span
          v-if="goalReached"
          class="icon has-text-success mr-3"
        >
          <i class="fas fa-check fa-lg"></i>
        </span>
        <span
          class="is-size-4"
        >
          {{ numEvents }} / {{ goal }}
        </span>
      </div>
    </div>
    <div
      v-for="(weekDay, y) in currentWeek"
      :key="weekDay.date + y"
      class="row week"
    >
      <div
        class="col day has-text-white has-text-weight-semibold"
        :class="{
          'has-text-app': weekDay.date == today,
        }"
      >
        <div>
          <span
            v-if="weekDay.date == actualToday"
            class="icon"
          >
            <i class="fas fa-calendar-day"></i>
          </span>
          {{ weekDay.day }}
        </div>
        <div class="is-size-7">
          {{ weekDay.date }}
        </div>
      </div>
      <div
        v-for="(activity, x) in activities"
        :key="activity + x + y"
        class="col cell activity clickable"
        :title="activity.name"
        :class="{
          'has-border-app': weekDay.date == today,
        }"
        @click="toggleCell(weekDay.date, activity.id)"
      >
        <div class="image">
          <transition
            name="fade"
            mode="in-out"
          >
            <div
              v-if="getCell(weekDay.date, activity.id)"
            >
              <img
                v-if="activity.image_url"
                style="padding: 4px"
                :src="activity.image_url"
              >
              <div
                v-else
                class="column has-text-white has-text-centered"
              >
                <i class="fas fa-check-circle fa-2x"></i>
                <div
                  class="mt-2"
                  style="font-size: 10px"
                >
                  {{ activity.name }}
                </div>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}

<script>

Vue.config.devtools = true;

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

window.app = new Vue({
  el: '#app',
  data() {
    return {
      // Backend data
      activities: {{ activities|safe }},
      actualToday: '{{ actual_today|safe }}',
      currentWeek: {{ current_week|safe }},
      currentWeekEvents: {{ current_week_events|safe }},
      goal: {{ goal|safe }},
      isoWeekNumber: '{{ iso_weeknumber }}',
      isoYear: '{{ iso_year }}',
      strings: {{ strings|safe }},
      today: '{{ today|safe }}',
      urls: {{ urls|safe }},
      username: '{{ username|safe }}',
      // Frontend data
      cells: {},
      listener: null,
      showDropdown: false,
    };
  },
  computed: {
    numEvents() {
      return Object.keys(this.cells).filter(key => !!this.cells[key]).length;
    },
    goalReached() {
      return this.numEvents >= this.goal;
    },
  },
  created() {
    this.populateGrid();
  },
  mounted() {
    this.registerDropdownClickOutsideHandler();
  },
  beforeDestroy() {
    window.removeEventListener('click', this.listener);
  },
  methods: {
    registerDropdownClickOutsideHandler() {
      const vm = this;
      this.listener = function(e) {
        if (!vm.$refs.dropdown.contains(e.target)) {
          vm.showDropdown = false;
        }
      };
      window.addEventListener('click', this.listener);
    },
    getEvent(date, activityId) {
      for (let i = 0; i < this.currentWeekEvents.length; i++) {
        const event = this.currentWeekEvents[i];
        if (event.date == date && event.activity == activityId) {
          return event;
        }
      }
      return null;
    },
    doesEventExist(date, activityId) {
      return this.getEvent(date, activityId) !== null;
    },
    getCellKey(date, activityId) {
      return `${date}_${activityId}`;
    },
    getCell(date, activityId) {
      const key = this.getCellKey(date, activityId);
      return this.cells[key];
    },
    populateGrid() {
      this.cells = {};
      this.currentWeek.forEach(weekDay => {
        this.activities.forEach(activity => {
          const initialValue = this.doesEventExist(weekDay.date, activity.id);
          const cellKey = this.getCellKey(weekDay.date, activity.id);
          this.$set(this.cells, cellKey, initialValue);
        });
      });
    },
    toggleCell(date, activityId) {
      const event = this.getEvent(date, activityId);
      const hasEvent = event !== null;
      if (hasEvent) {
        this.httpDeleteEvent(event.id);
      }
      else {
        this.httpCreateEvent(date, activityId);
      }

      // Update frontend.
      this.$set(this.cells, this.getCellKey(date, activityId), !hasEvent);
    },

    httpCreateEvent(date, activityId) {
      const payload = {
        'date': date,
        'activity': activityId
      };
      axios.post(this.urls.create_event, payload)
        .then(response => {
          // Update frontend.
          const event = response.data;
          this.currentWeekEvents.push(event);
        });
    },
    httpDeleteEvent(eventId) {
      return axios.delete(this.urls.delete_event + eventId)
        .then(() => {
          // Update frontend.
          this.currentWeekEvents = this.currentWeekEvents.filter(event => event.id !== eventId);
        });
    },
    redirectChangeWeek(today, direction) {
      const url = this.urls.change_week + direction + "?day=" + today;
      axios.get(url)
        .then(response => {
          const nextUrl = response.data.next_url;
          window.location.replace(nextUrl);
        });
    },
    goToPreviousWeek(today) {
      this.redirectChangeWeek(today, 'previous');
    },
    goToActualToday(actualToday) {
      const nextUrl = "/?day=" + actualToday;
      window.location.replace(nextUrl);
    },
    goToNextWeek(today) {
      this.redirectChangeWeek(today, 'next');
    },
    goToAdminPage(today) {
      this.openInNewTab('/admin');
    },
    confirmLogout() {
      const confirmed = confirm('Logout '+ this.username + '?');
      if (confirmed) {
        this.logout();
      }
    },
    logout() {
      window.location.replace(this.urls.logout);
    },
    openInNewTab(url) {
      const win = window.open(url, '_blank');
      win.focus();
    }
  }
});

</script>
{% endblock %}
